.head-perms {
    border: 1.2px solid rgba(black, .1);
    button {
        color: darken(grey, 10);
         &:focus {
            background: $primary;
            color: rgba(white, .9);
        }
    }
}
.body-perms {
    padding: .5rem 1rem;
    border: 1.5px solid rgba(black, .1);
    .form-check {
        @include tablet-only {
            padding-left: 0;
            label {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 7px;
                input {
                    order: 2;
                    margin-right: 0rem;
                }
            }
        }

    }

}

#accPerms {
}
